{# TODO: Add proper `base.html.twig` #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
{% block body %}
{% endblock %}

{% block scripts_custom %}
{% endblock %}
</body>
</html>
